.Minhapágina{
background-color: bisque;    
}    
.Título{
color: blueviolet;
text-align: center;
}
.texto1{
 font-size: 20px;
 color: rgb(27, 3, 134);
 text-align: justify;   
}

.Títulolista{
color: red;
font-weight: 900;
}

.lista1 li{
margin: 10px;
font-size: 15;
color: rgb(111, 0, 255);
text-decoration: underline;
}
.imagem{
border-radius: 100px;
}
.títulotabela{
font-size: 8;
font-weight: 900;
text-align: center;   
color: red;
}

.tabela{
text-align: center;
border-style:dashed;
border-color: black;
}

.Link:hover{
color: red;
}

    

}


